<?xml version="1.0" encoding="BIG5"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
    <array></array>
	<string>&lt;?php echo &quot;@!￡$%^&amp;*)}{:|&lt;&gt;/&quot;; ?&gt;</string>
	<string>&lt;?php echo &quot;@!￡$%^&amp;*)}{:|&lt;&gt;/&quot;; ?&gt;</string>
	<dict>
		<key>k1</key>
		<data></data>
		<key>k1</key>
		<data>abc</data>
	</dict>
</array>
</plist>



